{% extends "base.html" %}
{% block content %}
{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}
<h1>Users</h1>
<ul class="user-list">
    {% for user in users %}
        <li class="user-entry">
            {{ user.name }} <a href="{{ url_for('user_movies', user_id=user.id) }}">Movies Collection</a>
        </li>
    {% endfor %}
</ul>

<h1>Add a New User</h1>

<form action="{{ url_for('create_user') }}" method="post">
    <label for="name">User Name:</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Add User</button>
</form>
{% endblock %}